{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        {% if post.published_date %}
            <div class="date">
                {{ post.published_date }}
            </div>
        {% endif %}
        <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        <h1>{{ post.title }}</h1>
        {% for tag in post.tags %}
            {{tag}} 
        {% endfor %}
        <h4>{{ post.text|linebreaksbr }}</h4>
    </div>
{% endblock %}